<section class="section" id="four">

  <h2>Quem vai te guiar nesse caminho?</h2>
  <div class="box">
    <div>

      <div class="card-one">
        <img src="../../../../assets/men-one.png" alt="" class="img">
        <p><span>Marcos Viana</span> <br> 45 anos, professor de psicologia e pai de 4 filhas.Após 4 anos de pesquisa decidiu lançar este
          curso, juntamente com seu terceiro livro.
        </p>
      </div>

      <div class="card-two">
        <img src="../../../../assets/men-two.png" alt="" class="img">
        <p>
          <span>Vitor Gomes</span> <br> 41 anos, professor de educação física e coach esportivo nas redes sociais desde 2014. Se juntou com
          marcos pra somar com suas experiências esportivas.
        </p>
      </div>
    </div>
  </div>
  <a href="#five" class="more-link">
    <img class="more" src="../../../assets/seta.png">
  </a>
</section>
