#one {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.3) 62%, rgba(0,0,0,0.20211834733893552) 72%, rgba(0,0,0,0) 100%);
}

.box {
  max-width: 700px;
  max-height: 800px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 20px;

}

h1 {
  font-size: 25px;
  margin-bottom: 60px;
  font-weight: 700;
  width: 285px;
}

.text p {
  font-size: 15px;
  width: 296px;
}

span {
  color: var(--red);
}

.box-button {
  margin-top: 80px;
}

.box-button p {
  font-size: 16px;
  font-weight: 300;
}

@media (min-width:768px) {
  .box {
    margin: 0 0 0 190px;
  }
}

@media (min-width:1024px) {
  #one {
    align-items: center;
  }

  .box {
    margin: 0;
    align-items: center;
  }

  h1 {
    font-size: 39px;
    width: 435px;
  }

  .text p {
    font-size: 20px;
    width: 436px;
  }

  .box-button p {
    font-size: 23px;
  }
}

@media (min-width:1440px) {
}
