<section class="section" id="one">
  <div class="box">
    <div class="text">
      <h1>Domine o Método 'Um Leão por Dia' e Transforme sua Vida!</h1>
      <p>
        Supere Problemas Psicológicos e o Sedentarismo com uma Abordagem <span>Baseada em Ciência</span>, Estudos e Testes Reais - Sem Pseudociência
      </p>
    </div>

    <div class="box-button">
      <app-button></app-button>
      <p>
        Inscreva-se e garanta 3 aulas gratuitas!
      </p>
    </div>

  </div>
  <a href="#two" class="more-link">
    <img class="more" src="../../../assets/seta.png">
  </a>
</section>
