#one {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box {
  max-width: 700px;
  height: 800px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 62px;
  margin-bottom: 60px;
  font-weight: 700;
}

.text p {
  font-size: 32px;
}

span {
  color: var(--red);
}

.box-button {
  margin-top: 130px;
}

.box-button p {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width:1440px) {
  h1 {
    font-size: 42px;
    width: 470px;
  }

  .text p {
    font-size: 19px;
    width: 366px;
  }

  .box-button p {
    font-size: 18px;
  }
}

@media (max-width: 425px) {

  h1 {
    font-size: 27px;
    width: 309px;
  }

  .text p {
    font-size: 15px;
    width: 296px;
  }

  .box-button p {
    font-size: 16px;
  }
}
