#one {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.3) 62%, rgba(0,0,0,0.20211834733893552) 72%, rgba(0,0,0,0) 100%);
  overflow: hidden;
  padding-top: 30px;
  align-items: center;
}

.box {
  max-width: 700px;
  max-height: 800px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 20px;

}

h1 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 700;
  width: 285px;
}

.text p {
  font-size: 15px;
  width: 296px;
}

span {
  color: var(--red);
}

.box-button {
  margin-top: 20px;
}

.box-button p {
  font-size: 16px;
  font-weight: 300;
}

.box-img {
  display: flex;
  align-items: center;
}

.img {
  position: absolute;
  top: 40%;
  left: -2%;
  width: 110%;
  height: 430px;
  background-size: cover;
  z-index: -1;
}


@media (min-width:430px) {
  .img {
    width: 470px;
  }
}

@media (min-width:570px) {
  .img {
    left: 13%;
  }
}

@media (min-width:768px) {
  #one {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .box {
    margin: 0 0 0 100px;
  }

  .img {
    position: static;
  }
}

@media (min-width:1024px) {

  .box {
    margin: 0 0 0 250px;
  }

  h1 {
    font-size: 39px;
    width: 435px;
  }

  .text p {
    font-size: 20px;
    width: 436px;
  }

  .img {
    width: 540px;
    height: 510px;
  }

}

@media (min-width:1360px) {

  .box {
    margin-left: 20px;
  }

  h1 {
    font-size: 52px;
    width: 575px;
    margin-bottom: 30px;
  }

  .text p {
    font-size: 25px;
    width: 551px;
  }

  .box-button {
    width: 100%;
    margin-top: 40px;
  }

  .box-button p {
    font-size: 24px;
  }

  .img {
    left: 51%;
    width: 640px;
    height: 600px;
  }
}

@media (min-width:1430px) {
  .img {
    width: 780px;
    height: 760px;
  }

  .box {
    margin-left: 140px;
  }
}

@media (min-width:1920px) {
  .box {
    margin-left: 160px;
  }
}
