button {
  outline: none;
  border: none;
  padding: 10px;
  text-align: center;
}

button {
  background: linear-gradient(90deg, var(--red), var(--red));
  color: var(--font-white);
  width: 300px;
  height: 95px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin-bottom: 7px;
  transition: .5s;
}

button:hover {
  color: var(--font-black);
  background: linear-gradient(90deg, var(--red), var(--red-dark));
}

@media (max-width:1440px) {
  button {
    width: 230px;
    height: 70px;
    font-size: 18px;
  }
}
