<section class="section" id="two">
  <div class="box">

    <div class="text">
      <h2>Experimente uma metodologia que pode mudar a sua maneira de lidar com os problemas da sua vida</h2>
      <p>este curso oferece uma abordagem sólida para lidar com problemas psicológicos e combater o sedentarismo. Não se
        trata de pseudociência ou promessas vazias; aqui, você encontrará estratégias e técnicas que foram
        cuidadosamente pesquisadas e comprovadas.</p>
    </div>

    <img src="../../../../assets/book.png" alt="" class="book fade-in">

  </div>
  <a href="#three" class="more-link">
    <img class="more" src="../../../assets/seta.png">
  </a>
</section>
