* {
  color: var(--font-white);
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

:root {

  --font-black: #000;
  --font-white: #fff;
  --red: #a80000;
  --red-dark: #710000;

}

.main {
  width: 100%;
  height: 500vh;
  background: url('../assets/bg.jpg') no-repeat;
  background-size: cover;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.more {
  width: 120px;
}

.more:hover {
  content: url('../../../assets/setahover.png');
}

@media (max-width:1440px) {
  .main {
    background-position: 50% 50%;
    filter: brightness(0.5);
  }
}


@media (max-width:1024px) {
  .more {
    width: 50px;
  }
}

@media (max-width:768px) {
  .main {
    background-position: 70% 50%;
  }

}

