* {
  color: var(--font-white);
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  z-index: 1;
}

:root {

  --font-black: #000;
  --font-white: #fff;
  --red: #a80000;
  --red-dark: #710000;

}

.main {
  width: 100%;
  height: 500vh;
  background: url('assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  z-index: -2;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  transition: 3s;
}

.section {
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
}

.more-link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.more {
  width: 50px;
}

.more:hover {
  content: url('assets/setahover.png');
}

@media (min-width:1024px) {
  .main {
    background-position: 60% 50%;
  }

}
